<h3>Visit <a href='https://github.com/bigbinary/lrm-authentication'>https://github.com/bigbinary/lrm-authentication</a> for information about this project</h1>

<p>
  Emails in the database: <%= @emails.to_sentence %>
</p>
